.search{
    width: 200px;
    height: 160px;
    background-color: #fff;
    position: fixed;
    top: 10px;
    left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.search #searchBtn{
    width: 80px;
    height: 30px;
    position: relative;
    top: 0;
    left: 60px;
    border-radius: 15px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    margin: 20px 0;
    color: #fff;
    text-align: center;
    font-size: 18px;
    background-color: #0084ff;
    border: none;
}