body{
  //background-color:#777;
  }
#v1{
  //margin:2px auto;
  position:relative;
  top:70px;
  left:70px;
  width:200px;
  height:200px;
  border-radius:50%;
  box-shadow:0 0 20px #fff,
  -20px 0 80px #f0f,20px 0 80px #0ff,
  inset 0 0 50px #fff,inset 50px 0 80px #f0f,
  inset -50px 0 80px #0ff,inset 50px 0 200px #f0f,
  inset -50px 0 200px #0ff;
  animation: puls 4.5s linear infinite;
  }
@keyframes puls{
  50%{
      box-shadow:0 0 20px #fff,
  20px 0 80px #f0f,-20px 0 80px #0ff,
  inset 0 0 50px #fff,inset -50px 0 80px #f0f,
  inset 50px 0 80px #0ff,inset -50px 0 200px #f0f,
  inset 50px 0 200px #0ff;
    }
  }
a{
  display:block;
  width:200px;
  height:60px;
  background-color:#339900;
  text-align:center;
  font-size:28px;
  color:#fff;
  text-decoration:none;
  border-radius:12px;
  font-family:myFisrtFont;
  position:relative;
  top:90px;
  left:70px;
  }
a:active{
  background-color:#66ff00;
  color:#669966;
  }
p{
  position:relative;
  top:13px;
  }
