body{
  //background-color:#777;
  width:100%;
  height:100%;
  }
#v1{
  //margin:2px auto;
  position:relative;
  top:70px;
  left:70px;
  width:200px;
  height:200px;
  border-radius:50%;
  box-shadow:0 0 20px #fff,
  -20px 0 80px #f0f,20px 0 80px #0ff,
  inset 0 0 50px #fff,inset 50px 0 80px #f0f,
  inset -50px 0 80px #0ff,inset 50px 0 200px #f0f,
  inset -50px 0 200px #0ff;
  animation: puls 4.5s linear infinite;
  }
@keyframes puls{
  50%{
      box-shadow:0 0 20px #fff,
  20px 0 80px #f0f,-20px 0 80px #0ff,
  inset 0 0 50px #fff,inset -50px 0 80px #f0f,
  inset 50px 0 80px #0ff,inset -50px 0 200px #f0f,
  inset 50px 0 200px #0ff;
    }
  }
#talk{
        display: block;
        position: relative;
        left: 0;
        top: 60px;
        margin: 0 auto;
        width: 270px;
        height: 185px;
        background-color: white;
        border-radius: 2px;
}
#full{
        display:none;
        position:fixed;
        z-index:10;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow:auto;
        background-color:rgba(0,0,0,0.4);
  }
p{
        width: 100%;
        height: 50px;
        font-size: 18px;
        text-align: center;
        position: relative;
        left: 0;
        top: 23px;
        color: rgba(0,0,0,0.8);
}
.na{
        font-size: 16px;
        color: gray;
        position: relative;
        top: 20px;
        left: 116px;
}
#cyd{
        border-bottom-right-radius:15px;
        border-bottom-left-radius:15px;
        border-top: 0.5px solid rgba(0,0,0,0.3);
        width: 100%;
        height: 48px;
        position: absolute;
        bottom: 0;
        text-align: center;
}
#cyd:active{
        background: #eee;
}
.cyd1{
        font-size: 18px;
        position: relative;
        top: 10px;
        color: #3399ff;
}
