*{
  margin: 0;
  padding: 0;
}
.din{
  width: 100%;
  height: 230px;
  background: #fff;
  border-bottom: 0.5px solid silver;
}
.img-earth{
  width: 60px;
  height: 60px;
  position: relative;
  top: 10px;
  left: 5px;
}
.p{
  font-size: 22px;
  font-family: "楷体";
  margin-top: -55px;
  margin-left: 78px;
}
.da{
  font-size: 16px;
  font-family: "楷体";
  color: #c0c0c0;
  margin-top: 5px;
  margin-left: 79px;
}
#dx{
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  width: 100px;
  height: 35px;
  background: limegreen;
  font-family: "楷体";
  font-size: 16px;
  color: whitesmoke;
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  float: right;
  margin-top: -35px;
  margin-right: 25px;
}
#dx:active{  
 background: darkgreen;
 color: aliceblue;
}
